@model DeliveryViewModel
<script type="text/javascript">
    function ShowError(error){
        alert(error);
    };
</script>
<div class="text-center">
    <main class="form-signin">
        <h1 class="h3 mb-3 fw-normal">Введіть свої контактні дані</h1>
        <form asp-action="CheckOut" method="post">
            <div class="form-floating mb-3">
              <input type="text" asp-for="@Model.order.Name" class="form-control" placeholder="Щось" style="
                width: 100%;
                max-width: 426px;
                margin: 0 auto;
                "
              >
              <span asp-validation-for="@Model.order.Name" class="text-danger"></span>
              <label asp-for="@Model.order.Name" style="
                float: none;
                width: 100%;"
              >Ім'я</label>
            </div>
        
            <div class="form-floating mb-3">
              <input type="text" asp-for="@Model.order.Surname" class="form-control" id="floatingInput" placeholder="Щось" style="
                width: 100%;
                max-width: 426px;
                margin: 0 auto;
                "
              >
              <span asp-validation-for="@Model.order.Surname" class="text-danger"></span>
              <label asp-for="@Model.order.Surname" for="floatingInput" style="
                float: none;
                width: 100%;"
              >Прізвище</label>
            </div>
        
            <div class="form-floating mb-3">
              <input type="tel" asp-for="@Model.order.PhoneNumber" class="form-control" id="floatingInput" placeholder="Щось" style="
                width: 100%;
                max-width: 426px;
                margin: 0 auto;
                "
              >
              <span asp-validation-for="@Model.order.PhoneNumber" class="text-danger"></span>
              <label asp-for="@Model.order.PhoneNumber" for="floatingInput" style="
                float: none;
                width: 100%;"
              >Номер телефона</label>
            </div>
        
            <div class="form-floating mb-3">
              <input type="email" asp-for="@Model.order.Email" class="form-control" id="floatingInput" placeholder="name@example.com" style="
                width: 100%;
                max-width: 426px;
                margin: 0 auto;
                "
              >
              <span asp-validation-for="@Model.order.Email" class="text-danger"></span>
              <label asp-for="@Model.order.Email" for="floatingInput" style="
                float: none;
                width: 100%;"
              >Email</label>
            </div>
            <h1 class="h3 mb-3 fw-normal">Оберіть спосіб отримання</h1>
            <div class="form-floating mb-3" style="
                width: 100%;
                max-width: 426px;
                margin: 0 auto;">
                <select class="form-select" id="floatingInput" asp-for="@Model.delivery.DeliveryType">
                    <option value="1">Нова пошта</option>
                    <option value="2">Укр пошта</option>
                    <option value="3">Самовивіз</option>
                </select>
                <span asp-validation-for="@Model.delivery.City" class="text-danger"></span>
                <label asp-for="@Model.order.Email" for="floatingInput" style="
                    float: none;
                    width: 100%;"
              >Отримання</label>
            </div>
            <div class="form-floating mb-3">
                  <input type="text" asp-for="@Model.delivery.City" class="form-control" placeholder="Щось" style="
                    width: 100%;
                    max-width: 426px;
                    margin: 0 auto;
                    "
                  >
                  <span asp-validation-for="@Model.delivery.City" class="text-danger"></span>
                  <label asp-for="@Model.delivery.City" style="
                    float: none;
                    width: 100%;"
                  >Місто</label>
                </div>    
            <input class="btn btn-success" type="submit" value="Оформити"/>
        </form>
    </main>
</div>
@if (ViewBag.JavaScriptFunction != null)
{
    <script type="text/javascript">
        @Html.Raw(ViewBag.JavaScriptFunction)
    </script>
}
@section scripts{}