@model DeliveryViewModel
<div class="text-center">
     <main class="form-signin">
        <h1 class="h3 mb-3 fw-normal">Введіть свої контактні дані</h1>
        <form asp-controller="Order" asp-action="CheckOutDelivery" method="post">
            <select asp-for="@Model.delivery.DeliveryServise">
                <option value="Self">Самовивіз</option>
                <option value="Delivery">Доставка</option>
            </select>
            <select asp-for="@Model.delivery.DeliveryType">
                <option value="1">Нова пошта</option>
                <option value="2">Укр пошта</option>
            </select>
            <div class="form-floating mb-3">
                  <input type="text" asp-for="@Model.delivery.City" class="form-control" placeholder="Щось" style="
                    width: 100%;
                    max-width: 426px;
                    margin: 0 auto;
                    "
                  >
                  <span asp-validation-for="@Model.delivery.City" class="text-danger"></span>
                  <label asp-for="@Model.delivery.City" style="
                    float: none;
                    width: 100%;"
                  >Місто</label>
                </div>    
            <input class="btn btn-success" type="submit" value="Оформити"/>
        </form>
    </main>
</div>