@model Meat
<div class="col-lg-4">
    <a class="btn btn-light" style="position:center;" asp-conоtroller="Meats" asp-action="SinglePosition" asp-route-id="@Model.Id">
        <img class="img-thumbnail" src="@Model.Img" alt="@Model.Name" />
    </a>
    <div class="row" style="text-align:center;"><a class="btn btn-light" style="position:center;" asp-conоtroller="Meats" asp-action="SinglePosition" 
        asp-route-id="@Model.Id"><h4>@Model.Name</h4></a></div>
    <p>@Model.ShortDesc</p>
    <div class="row">
        <div class="col">
            <p>@Model.Price.ToString("c") за порцію.</p>
        </div>
        <div class="col" style="text-align: right;">
            <b class="portion">@Model.Portion.ToString() в наявності.</b>
        </div>
    </div>
    <div class="row" style="text-align:center;"><p><a class="btn btn-warning" asp-conоtroller="ShopCart" asp-action="addToCart" 
        asp-route-id="@Model.Id">Додати в корзину</a></p></div>
</div>